[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = git@github.com:brofield/simpleini.git
[submodule "thirdparty/GTAVMenuBase"]
	path = thirdparty/GTAVMenuBase
	url = git@github.com:E66666666/GTAVMenuBase.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = git@github.com:fmtlib/fmt.git
