[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = git@github.com:brofield/simpleini.git
[submodule "thirdparty/GTAVMenuBase"]
	path = thirdparty/GTAVMenuBase
	url = git@github.com:E66666666/GTAVMenuBase.git
[submodule "thirdparty/minhook"]
	path = thirdparty/minhook
	url = https://github.com/TsudaKageyu/minhook/
